.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.mainTitle {
  color: #2c2e33;
  font-family: var(--roboto-mono), monospace;
  font-optical-sizing: auto;
  font-weight: 800;
  font-size: 47px;
  font-style: normal;
  text-align: center;
  // margin-top: 50px;
  text-align: left;
}

.mainTextBlock {
  max-width: 40%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  // padding-left: 54px;
}

.mainDescription {
  text-align: left;
}

.image {
  border-radius: 24px;
  object-fit: cover;
  max-height: 400px;
  margin: 54px 0px 54px 0px;
}